In [1]:
n=int(input("No of Lines:"))

No of Lines:5

## 1) Left Align Triangle

In [3]:
for i in range(1,n+1):
    for j in range(i):
        print('1', end='')
    print()

1
11
111
1111
11111

## 2) Reverse Left Align Triangle

In [4]:
for i in range(n,0,-1):
    for j in range(i):
        print('1', end='')
    print()

11111
1111
111
11
1

## 3) Right Align Triangle

In [5]:
for i in range(1,n+1):
    space=(n-i)*' '
    print(space+i*'1')

    1
   11
  111
 1111
11111

## 4) Reverse Right Align Triangle

In [6]:
for i in range(n,0,-1):
    space=(n-i)*' '
    print(space+i*'1')

11111
 1111
  111
   11
    1

## 5) Center Align Triangle

In [7]:
for i in range(1,n+1):
    spaces=(n-i)*' '
    numbers=(i+(i-1))*'1'
    print(spaces +numbers+spaces)

    1
   111
  11111
 1111111
111111111

## 6)  Reverse Center Align Triangle

In [9]:
for i in range(n,0,-1):
    spaces=(n-i)*' '
    numbers=(i+(i-1))*'1'
    print(spaces +numbers+spaces)

111111111
 1111111
  11111
   111
    1